link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(rel='stylesheet', href='/stylesheets/style.css')    
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")     