body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.panel-heading{
    position: relative;
}
#mygroup{
    position:absolute;
    top: 1px;
    right: 5px;
}