extends ../layout

block content
    .container
        .row
         h1= title
         p 这是主页 #{title} 
         div.jumbotron
            p
              a.btn.btn-primary.btn-lg(role="button",data-toggle="modal",data-target="#signinpModal") 请先登录，才能看商品列表

